{% extends "base.html" %}
{% load static %}

{% block titulo %} contacto {% endblock %}

{%block contenido%} 
<div class="jumbotron">
    <h1 class="display-3">AUTOEXPERTO</h1>
    <p class="lead">TU COPILOTO EN GESTION AUTOMOTRIZ</p>
    <hr class="my-2">
     <p>contacto</p>
     <p> si deseas comprar o  publicar tu auto contactanos via whastApp y un asesor se pondra en contacto con usted</p>
         <table class="table">
            <thead>
            <tr>SEDES
                <th>QUINTANA RRO</th>
                <th>CDMX</th>
                <th>HIDALGO</th>
                <th>ESTADO DE MEXICO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">12293030</td>
                <td>20202020</td>
                <td>39393093</td>
                <td>29292303</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

