{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{%block contenido%}

<div class="jumbotron">
  <h1 class="display-3">AUTOEXPERTO</h1>
  <p class="lead">TU COPILOTO EN GESTION AUTOMOTRIZ</p>
  <hr class="my-2">
  <P></P>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="autos" role="button">ver nuestro catalogo </a>


  <p> VENDE TU AUTO  </p>  <li> </li>

  <p>PRUEBA DE MANEJO </p>  <li> </li>

  <p> PROMOCIONES </p>  <li>  </li>
  
<p>
  mapa de ubicacion
 
</p>
  

  
    
  </p>
</div>



{% endblock %}