{% extends "base.html" %}

{% block titulo %} index {% endblock %}

{%block contenido%} 

<div class="card">
    <div class="card-header">
      
    
    <div class="card-body">
      {%for autos in autos %}
        <h4 class="card-title">  </h4>
        <table class="table">
          <thead>   
            <tr>
              <th scope="id">id</th>
              <th scope="titulo">titulo</th>
              <th scope="imagen">imagen</th>
              <th scope="descripcion">descripcion</th>
              <th scope="marcadelauto">marca del auto</th>
              <th scope="modelo">modelo</th>
              <th scope="precio">precio</th>
              <th scope="kilometraje">kilometraje</th>
              <th scope="estadodelvehiculo">estado del vehiculo</th>
              <th scope="factura">factura</th>
              <th scope="numerodedueno">numero de dueño</th>
              
              
              
              



              </tr>
          </thead>

          <tbody>
            <tr>
              <th>{{autos.id}}</th>
              <td>{{autos.titulo}}</td>
              <td><img src=" {{autos.imagen.url}} " height="200"> <img src=" {{autos.imagen2.url}}" height="200"> <img src=" {{autos.imagen3.url}}" height="200"> <img src=" {{autos.imagen4.url}}" height="200"> </td>
              <td>{{autos.descripcion}}</td>
              <td>{{autos.marcadelauto}}</td>
              <td>{{autos.modelo}}</td>
              <td>{{autos.precio}}</td>
              <td>{{autos.kilometraje}}</td>
              <td>{{autos.estadodelvehiculo}}</td>
              <td>{{autos.factura}}</td>
              <td>{{autos.numerodedueno}}</td>

              
              
                 
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        mas informacion esta disponible atravez del contacto  

    </div>
</div>

 {% endblock %}